<!DOCTYPE html>
<html>
<head>
    <% include ./partials/header.ejs %>
</head>
<body>

<div data-target="main" class="container">
  <% include ./partials/topbar.ejs %>

<div>ahoy</div>
</div>
<script src="/gen/bundle.js"></script>
</body>
</html>
